
<mat-dialog-content>
  <div class="asset-creation-tab">
    <div>
      <mat-form-field class="form-field" color="accent">
        <mat-label>Id</mat-label>
        <input required [(ngModel)]="id" matInput>
      </mat-form-field>
      <mat-form-field class="form-field" color="accent">
        <mat-label>Name</mat-label>
        <input required [(ngModel)]="name" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field" color="accent">
        <mat-label>Asset category</mat-label>
        <mat-select [(ngModel)]="category" required>
          <mat-option *ngFor="let cat of categories" [value]="cat[0]">
            {{ cat[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--  Json schema -->
      <mat-form-field class="form-field-stretch" color="accent" id="form-field-permissions">
        <mat-label>Schema (JSON)</mat-label>
        <textarea  required [(ngModel)]="jsonSchema" rows=4 matInput></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onSave()" color="accent" mat-stroked-button>
      <mat-icon>add_circle_outline</mat-icon> Create
  </button>

  <button color="accent" mat-dialog-close mat-stroked-button>
      <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>
