mat-dialog-content {
    width: 800px;
}

.form-field:nth-child(odd) {
    margin-right: 10px;
    width: calc(50% - 10px)
}

.form-field:nth-child(even) {
  width: 50%
}

mat-card-actions {
    margin-left: 0;
}

.form-field-stretch{
  box-sizing: border-box;
  width: 100%;
}

