mat-dialog-content {
  min-width: 1500px;
}

.form-field-half{
  box-sizing: border-box;
  width: calc(50% - 2px);
  margin: 1px;
}
.form-field-stretch{
  box-sizing: border-box;
  width: 100%;
}
.mat-mdc-dialog-content {
  max-height: 85vh;
  min-height: 65vh;
}

