mat-card-actions {
  padding-right: 15px !important;
  padding-bottom: 20px !important;
}

button:not(:first-child) {
  margin-left: 10px;
}

.section-header button{
  margin-bottom: 10px;
  margin-top: 10px;
}
