<mat-dialog-content>

  <mat-form-field class="form-field" color="accent" id="form-field-destination">
    <mat-label>Destination</mat-label>
    <mat-select [(ngModel)]="storageTypeId">
      <mat-option *ngFor="let trasnferType of transferTypes" [value]="trasnferType.id">
        {{trasnferType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="storageTypeId === 'HttpData'">
    <mat-form-field class="form-field" color="accent">
      <mat-label>Name</mat-label>
      <input required [(ngModel)]="httpDataAddress.name" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Path</mat-label>
      <input [(ngModel)]="httpDataAddress.path" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Base URL</mat-label>
      <input required [(ngModel)]="httpDataAddress.baseUrl" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Auth Key</mat-label>
      <input [(ngModel)]="httpDataAddress.authKey" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Auth Code</mat-label>
      <input [(ngModel)]="httpDataAddress.authCode" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Secret Name</mat-label>
      <input [(ngModel)]="httpDataAddress.secretName" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Proxy Body</mat-label>
      <input [(ngModel)]="httpDataAddress.proxyBody" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Proxy Path</mat-label>
      <input [(ngModel)]="httpDataAddress.proxyPath" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Proxy Query Params</mat-label>
      <input [(ngModel)]="httpDataAddress.proxyQueryParams" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Proxy Method</mat-label>
      <input [(ngModel)]="httpDataAddress.proxyMethod" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Content Type</mat-label>
      <input [(ngModel)]="httpDataAddress.contentType" matInput>
    </mat-form-field>
  </div>

  <div *ngIf="storageTypeId === 'AmazonS3'">
    <mat-form-field class="form-field" color="accent">
      <mat-label>Region</mat-label>
      <input required [(ngModel)]="amazonS3DataAddress.region" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Bucket Name</mat-label>
      <input required [(ngModel)]="amazonS3DataAddress.bucketName" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Key Prefix</mat-label>
      <input [(ngModel)]="amazonS3DataAddress.keyPrefix" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Folder Name</mat-label>
      <input [(ngModel)]="amazonS3DataAddress.folderName" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Access Key Id</mat-label>
      <input required [(ngModel)]="amazonS3DataAddress.accessKeyId" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Secret Access Key</mat-label>
      <input required [(ngModel)]="amazonS3DataAddress.secretAccessKey" matInput>
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Endpoint Override</mat-label>
      <input required [(ngModel)]="amazonS3DataAddress.endpointOverride" matInput>
    </mat-form-field>
  </div>

  <div *ngIf="storageTypeId === 'InesDataStore'">
  </div>

</mat-dialog-content>

<mat-dialog-actions>
    <div>
    <button (click)="onTransfer()" color="accent" mat-stroked-button>
        <mat-icon>downloading</mat-icon> Start transfer
    </button>

    <button color="accent" mat-dialog-close mat-stroked-button>
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</div>
</mat-dialog-actions>
