<div *ngIf="filteredDataOffers$ | async as filteredDataOffers" id="wrapper">
  <div class="container">
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Search catalog</mat-label>
      <input (input)="onSearch()" [(ngModel)]="searchText" matInput>
      <mat-icon matPrefix>search</mat-icon>
      <button (click)="searchText=''; onSearch()" *ngIf="searchText" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <button mat-button (click)="onSearch()">Search</button> -->
  </div>

  <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start start">

    <mat-card *ngFor="let dataOffer of filteredDataOffers">
      <mat-card-header>
        <mat-icon mat-card-avatar>sim_card</mat-icon>
        <mat-card-title>{{dataOffer.assetId}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngIf="dataOffer.properties.type">
            <mat-icon matListItemIcon>category</mat-icon>
            <div class="asset-property-name" matListItemTitle>Type</div>
            <div matListItemLine>{{dataOffer.properties.type}}</div>
          </mat-list-item>
          <mat-list-item *ngIf="dataOffer.originator">
            <mat-icon matListItemIcon>link</mat-icon>
            <div class="asset-property-name" matListItemTitle>Originator</div>
            <div matListItemLine>{{dataOffer.originator}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions class="card-actions">
        <!-- <button
                      [disabled]="isBusy(dataOffer) || isNegotiated(dataOffer)"
                      color="accent" mat-stroked-button> -->
        <button color="accent" mat-stroked-button
          (click)="viewContractOffers(dataOffer.assetId, dataOffer.contractOffers, dataOffer.originator, dataOffer.properties)">
          View details and contract offers
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <!-- <mat-progress-bar *ngIf="isBusy(dataOffer)" color="accent" mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </div>
</div>
