:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}

mat-card-content {
  margin: 1em 0em;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  --mdc-protected-button-container-color: #3b3939 !important;
}

.mat-mdc-card-avatar {
  height: 24px;
}

mat-card {
  font-family: "Open Sans";
  place-self: normal;
}

:host ::ng-deep policy-expression {
  font-size: 14px;
}

.card-actions button {
  margin-right: 10px;
}

.mat-mdc-card-content {
  height: 100%;
}

.code {
  word-wrap: break-word;
}

.mat-mdc-card-title {
  padding-right: 30px !important;
}

:host ::ng-deep .mat-mdc-card-header-text{
  width: 100%;
}
