<div id="wrapper" *ngIf="filteredPolicies$ | async as policyDefinitions">
  <!--    entry fields for new policy-->
  <div class="container">
    <mat-form-field appearance="outline" class="search-form-field" color="accent">
      <mat-label>Search policies</mat-label>
      <input (input)="onSearch()" [(ngModel)]="searchText" matInput>
      <mat-icon matPrefix>search</mat-icon>
      <button (click)="searchText=''; onSearch()" *ngIf="searchText" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button (click)="onCreate()" color="accent" mat-stroked-button>
      <mat-icon>add_circle_outline</mat-icon>
      Create policy
    </button>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start start">
    <mat-card *ngFor="let policyDef of policyDefinitions">
      <mat-card-header>
        <mat-icon mat-card-avatar>policy</mat-icon>
        <mat-card-title><span class="code">{{policyDef.id}}</span></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div fxlayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center">
          <!-- Permissions-->
          <button fxFlex="0 1 calc(33.3% - 15px)" mat-raised-button (click)="viewRules('Permissions', policyDef.policy.permissions)"
            [disabled]="policyDef.policy.permissions.length === 0">Permissions</button>

          <!-- Obligations-->
          <button fxFlex="0 1 calc(33.3% - 15px)" mat-raised-button (click)="viewRules('Obligations', policyDef.policy.obligations)"
            [disabled]="policyDef.policy.obligations.length === 0">Obligations</button>

          <!-- Prohibitions-->
          <button fxFlex="0 1 calc(33.3% - 15px)" mat-raised-button (click)="viewRules('Prohibitions', policyDef.policy.prohibitions)"
            [disabled]="policyDef.policy.prohibitions.length === 0">Prohibitions</button>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions class="card-actions">
        <button (click)="delete(policyDef)" color="warn" mat-stroked-button>
          <mat-icon>delete_sweep</mat-icon> Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
