<div id="wrapper">
  <div class="container">
    <button (click)="onCreate()" color="accent" mat-stroked-button>
      <mat-icon>add_circle_outline</mat-icon>
      Create policy
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start start">
    <mat-card *ngFor="let policyCard of policyCards">
      <mat-card-header>
        <mat-icon mat-card-avatar>policy</mat-icon>
        <mat-card-title><span class="code">{{policyCard.id}}</span></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-policy-renderer
            [expression]="policyCard.expression"
            [errors]="policyCard.irregularities"></app-policy-renderer>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions class="card-actions">
        <button (click)="onPolicyDetailClick(policyCard)" color="info" mat-stroked-button>
          <mat-icon>info</mat-icon> View JSON-LD
        </button>
        <button (click)="delete(policyCard.id)" color="warn" mat-stroked-button>
          <mat-icon>delete_sweep</mat-icon> Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="paginator">
    <mat-paginator
               (page)="changePage($event)"
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               [length]="paginatorLength"
               [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
