/* Custom FOOTER component styles */

.footer {
  background-color: #303030;
  padding: 10px 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.12);

  &__company {
    border-top: solid 1px rgba(255, 255, 255, 0.12);
    padding: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 500;
    text-align: center;
    background-color: #303030;
    p {
      margin: 0;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      max-width: unset;
      height: auto;
      margin: auto;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 42px;
    margin: 0 0 8px 0;
  }
}

// RESPONSIVE
// Tablets y portátiles
@media (max-width: 1600px) {
  .footer {
    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 15px;
    }
    img {
      max-width: 150px;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    padding: 15px;
    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 10px;
    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
}

.footer-container {
  z-index: 1;
  position: sticky;
  left: 0%;
  bottom: 0%;
  width: 100%;
}
