/* Custom FOOTER component styles */

.footer {
  padding: 10px 20px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: var(--Grey-500, #E6E6E6);
  background-color: white;

  &__company {
    border-top: 2px solid#E6E6E6;
    padding: 10px 0;
    font-family: "Open Sans", sans-serif;
    color: var(--secondary-600);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 16.34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: white;

    p {
      margin: 0;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      max-width: unset;
      height: auto;
      margin: auto;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 42px;
    margin: 0 0 8px 0;
  }
}

// RESPONSIVE
// Tablets y portátiles
@media (max-width: 1600px) {
  .footer {
    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 15px;
    }

    img {
      max-width: 150px;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    padding: 15px;

    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 10px;

    &__logos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
}

.footer-container {
  z-index: 1;
  position: sticky;
  left: 0%;
  bottom: 0%;
  width: 100%;
}
