<div class="footer-container">
  <footer class="footer">
    <div class="footer__logos">
      <img src="assets/images/logo-UE.png" alt="Logo fundación por la UE">
      <img src="assets/images/logo-ministerio.png" alt="Logo miniterio del interior">
      <img src="assets/images/logo-unico.png" alt="Logo unico">
      <img src="assets/images/logo-politecnica.png" alt="Logo politécnica">
      <img src="assets/images/logo-ontology.png" alt="Logo ontology">
    </div>
  </footer>

  <div class="footer__company">
    <p> INESData (Infrastructure to Investigate Data Spaces in Distributed Environments at UPM) © {{ year }}</p>
  </div>
</div>
