@import "../../../../theme.scss";
.mat-mdc-card {
  --mdc-elevated-card-container-color: $grey-400;
  box-shadow: unset;
}

mat-card-title {
  margin-bottom: 10px;
  color: white;
}

.property-title {
  font-weight: bold !important;
}

mat-list-item:hover .property-title,
.property-title {
  color: white;
}

.property-value {
  font-size: 14px;
  color: #d7d7d7;
}

.property-icon {
  margin: 15px;
}

.property {
  padding: 0px 5px;
}

.json-policy {
  white-space: break-spaces;
}

:host ::ng-deep .grey .detail-item {
  background: #474747;
  padding: 1rem 1.25rem;
  border-radius: 16px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail-item {
  flex: 1 1 calc((100% / 2) - 20px);
  min-width: calc((100% / 2) - 20px);
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .detail-item {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

.detail-title {
  font-family: "Baloo 2", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
  display: block;

  &-inline {
    font-family: "Baloo 2", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
    display: inline;
  }
}

.detail-value {
  font-size: 14px;
  color: #555;
  display: block;

  &-inline {
    font-size: 14px;
    color: #555;
    display: inline;
  }
}

ul {
  margin: 0px;
}

.property-value.description {
  white-space: normal;
}

.mdc-card.vocabulary {
  padding: 20px 20px 0px 20px;
}

.mdc-card:not(.vocabulary):not(.contract-offer) {
  padding: 20px;
}

.property-value {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.grey {
  margin-bottom: 15px;
}

mat-expansion-panel-header {
  font-size: 16px;
}

.contract-offer {
  margin-bottom: 20px;
}

.value-not-available {
  font-style: italic;
}

:host ::ng-deep td {
  border: 1px solid white;
}

:host ::ng-deep a {
  color: white;
}

.mat-mdc-card-actions {
  padding: 16px;
}

.mat-mdc-card-actions button:first-child {
  margin-right: 10px;
}

.mdc-linear-progress {
  margin-top: var(--mdc-linear-progress-track-height, -4px);
}

:host ::ng-deep .bg-white {
  background-color: rgb(71 71 71);
}

:host ::ng-deep policy-expression {
  font-size: 14px;
}
