.form-field:nth-child(odd) {
    margin-right: 10px;
    width: calc(50% - 10px);
}

.form-field:nth-child(even) {
  width: calc(50% - 1px);
}


.form-field-stretch{
  box-sizing: border-box;
  width: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  border-color: var(--secondary-600) !important;
  min-height: 300px;
  color: var(--secondary-600);
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.5em;
}

.short-description {
  width: 100%;
}

:host ::ng-deep .asset-form mat-card:not(.dialog-card) {
  width: 100% !important;
}

.form-field-full{
  width:100% !important;
  margin-top: 15px;
}

.mat-mdc-tab-group {
  background-color: white;
}

.mat-mdc-tab-group .mat-mdc-tab-group {
  background-color: var(--grey-400);
}

:host ::ng-deep .mat-mdc-tab-group .mat-mdc-tab-group mat-form-field .mat-mdc-text-field-wrapper{
  background-color: white;
}

mat-panel-title,
:host ::ng-deep th {
  color: var(--secondary-600);
}

:host ::ng-deep .mat-column-action {
  text-align: center;
}

:host ::ng-deep .ck-reset_all :not(.ck-reset_all-excluded *) {
  color: var(--secondary-500);
}

:host ::ng-deep .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border-color: var(--secondary-500);
}

