.sidenav-container {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.sidenav {
  width: 300px;
  box-shadow: 0.2em 0em 0.5em rgba(0, 0, 0, 0.1);
}

.sidenav .mat-toolbar {
  background: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.24px;
  color: var(--secondary-600);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--brand-500);
}

.logout {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.logout span {
  display: flex;
  align-items: center;
  /* Alinea verticalmente el ícono y el texto */
  cursor: pointer;
  /* Cursor tipo pointer solo para el span contenedor */
  transition: color 0.3s;
  /* Transición suave para el cambio de color */
}

.logout span:hover {
  color: #ffab40;
  /* Cambia el color de ambos al hacer hover */
}

.logout mat-icon {
  font-size: 18px;
  margin-right: 10px;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.scrollable-content {
  flex-grow: 1;
  padding: 20px 20px 171px 20px;
  overflow-y: auto;
}

mat-toolbar {
  min-height: 64px;
  font-size: 16px;
}

:host ::ng-deep .mdc-list-item__primary-text,
:host ::ng-deep mat-nav-list mat-icon{
  color: var(--secondary-600) !important;
}

:host ::ng-deep .mdc-list-item:focus::before {
  background-color: unset;
}

:host ::ng-deep .mdc-list-item:focus {
  background-color: var(--grey-400);
}
