@import './theme.scss';

html, body {
    height: 100%;
}

body {
  margin: 0;
}

.code{
  font-family: monospace;
  font-size: larger;
}

.mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface {
  max-height: unset !important;
  min-height: unset !important;
  min-width: unset !important;
  max-width: unset !important;
}

/* Snackbar styles */
.mat-mdc-snack-bar-container {
  &.snackbar-error-style {
    --mdc-snackbar-container-color: crimson;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-info-style {
    --mdc-snackbar-container-color: rgb(61, 170, 61);
    --mdc-snackbar-supporting-text-color: #fff;
    --mat-mdc-snack-bar-button-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-warning-style {
    --mdc-snackbar-container-color: #FEFCE9;
    --mdc-snackbar-supporting-text-color: #CA8A04;
    --mat-mdc-snack-bar-button-color: #d19800;
  }
}

.break-all{
  word-break: break-all;
}

mat-card:not(.dialog-card) {
  width: 500px;
  margin: 0.5em 0em;
}

.asset-creation-tab {
  margin-top: 10px;
  min-height: 300px;
}

.paginator {
  margin-top: 1em;
}

//CREATE POLICY STYLES
.p-10 {
  padding: 2.5rem;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.form-section-title {
  margin: 16px 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}
.h-\[4rem\] {
  height: 4rem;
}
.font-medium {
  font-weight: 500;
}
.grow {
  flex-grow: 1;
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.border-solid {
  border-style: solid;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-0 {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.gap-1 {
  gap: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.border-t-2 {
  border-top-width: 2px;
}.w-\[1rem\] {
  width: 1rem;
}.mr-\[1rem\] {
  margin-right: 1rem;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(66 66 66);
}
.justify-stretch {
  justify-content: stretch;
}
