@use "@angular/material" as mat;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "node_modules/@angular/material/theming";
@include mat-core();

$theming-material-components-primary: mat-palette($mat-teal);
$theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-typography: mat.define-typography-config(
  $font-family: "Open Sans",
);

$theme1: mat-dark-theme(
  (
    color: (
      primary: mat-palette($mat-teal),
      accent: mat-palette($mat-orange, A200, A100, A400),
      warn: mat-palette($mat-red),
    ),
    typography: $theming-material-components-typography,
    density: 0,
  )
);

$primary: #ffab40;

$border-radius: 8px;
$grey-100: #101010;
$grey-200: #202020;
$grey-300: #303030;
$grey-400: #404040;
$grey-500: #505050;
$grey-600: #606060;
$grey-700: #707070;
$grey-800: #808080;
$grey-900: #909090;

$theme2: mat-dark-theme(
  (
    color: (
      primary: mat-palette($mat-light-blue),
      accent: mat-palette($mat-orange, A200, A100, A400),
      warn: mat-palette($mat-red),
    ),
    typography: $theming-material-components-typography,
    density: 0,
  )
);

$theme3: mat-dark-theme(
  (
    color: (
      primary: mat-palette($mat-light-green),
      accent: mat-palette($mat-orange, A200, A100, A400),
      warn: mat-palette($mat-red),
    ),
    typography: $theming-material-components-typography,
    density: 0,
  )
);

@include mat.all-component-themes($theme1);

.theme-1 {
  // use default
}

.theme-2 {
  @include mat.all-component-colors($theme2);
  .mat-expansion-panel {
    box-shadow: unset !important;
    .mat-expansion-panel-header {
      .mat-content-hide-toggle {
        .mat-expansion-panel-header-title {
          color: #ffab40;
        }
      }
      &::after {
        border-color: #ffab40;
        border-style: solid;
        border-width: 0 2px 2px 0;
        content: "";
        display: inline-block;
        padding: 6px;
        transform: rotate(45deg);
        vertical-align: middle;
        height: 0px;
        margin-top: -5px;
        margin-right: 0px;
      }
    }
    &.mat-expanded {
      .mat-expansion-panel-header {
        &::after {
          transform: rotate(-135deg);
          margin-top: 0px;
        }
      }
    }
  }
  button.mdc-button {
    margin: 20px 0;
    & + button.mdc-button {
      margin-left: 10px;
    }
  }
}

.theme-2
  .mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.theme-2
  .mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.theme-2
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]),
.mat-expansion-panel[_ngcontent-ng-c808659378]:not(.mat-expanded)
  .mat-expansion-panel-header[_ngcontent-ng-c808659378]:hover:not(
    [aria-disabled="true"]
  ) {
  background: rgb(255 171 64 / 20%);
  transition: 0.2s background;
}

.theme-3 {
  @include mat.all-component-colors($theme3);
}
